# Maven
target/

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IntelliJ IDEA
workspace.xml
tasks.xml
